@use "./scss/mixins" as mixins;

main {
  padding: 20px;
}

tbody {
  background-color: #f5f7fa;
  & > tr {
    box-shadow: 0 0 0 1px white;
    border-radius: 4px;
    height: 1px;
    & > td {
      height: inherit;
    }
  }
  & > tr:first-child {
    box-shadow: none !important;
  }
}

td {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  position: relative;
  & > div.table-row > td {
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      top: 25%;
      height: 50%;
      width: 1px;
      background-color: #e8e8e8;
    }
  }
}

th,
td {
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-radius: 8px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e8e8e8;

  @include mixins.setColWidth("size", 77px);
  @include mixins.setColWidth("ssl", 77px);

  @include mixins.setColWidth("container", 120px);
  @include mixins.setColWidth("chasis", 105px);
  @include mixins.setColWidth("gated-out", 90px);
  @include mixins.setColWidth("gated-in", 90px);
  @include mixins.setColWidth("return-terminal", 125px);
  @include mixins.setColWidth("return-apt", 90px);
  @include mixins.setColWidth("perdiem", 100px);

  @include mixins.setColWidth("booking", 120px);
  @include mixins.setColWidth("erd", 90px);
  @include mixins.setColWidth("cutoff", 90px);
  @include mixins.setColWidth("pickup-loc", 90px);
  @include mixins.setColWidth("saving", 80px);
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px #e8e8e8;
}

tr.main-headers {
  th {
    background-color: white;
    border-left: 1px solid #e8e8e8;
    &:first-child {
      border-top-left-radius: 8px;
      border-left: none;
    }
    &:last-child {
      border-top-right-radius: 8px;
    }
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #131517;
  }
}
tr.sub-headers {
  th {
    background-color: white;
    padding: 9px 12px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #999999;
    position: relative;
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      top: 25%;
      height: 50%;
      width: 1px;
      background-color: #e8e8e8;
    }
  }
}

#cell_size_ssl {
  vertical-align: middle;
  div {
    background-color: white;
    width: calc(100% - 10px);
    height: calc(100% - 16px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    td {
      flex: 1;
      padding: 6px;
    }
  }
}

#cell_empties,
#cell_exports {
  vertical-align: top;
  padding: 1px 5px;
  & > div {
    background-color: white;
    margin: 8px auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    td {
      padding: 12px;
    }
  }
}
