@import url("./scss/reset.scss");
@import url("./scss/fonts.scss");

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
